<ul class="notebook">
    <li *ngFor="let note of notes" class="notebook__note" (click)="onClickNote(note)">
        <h2 class="notebook__note-title">
            {{note.title}}
        </h2>
        <p class="notebook__note-content">
            {{note.content}}
        </p>
    </li>
</ul>
<button color="primary" (click)="onClickNoteForm()" mat-mini-fab class="fab-button"matTooltip="Add new note"matTooltipPosition="above">
    <mat-icon>add</mat-icon>
</button>

<button color="primary" mat-mini-fab class="fab-button-left" (click)="logout()">
    <mat-icon>logout</mat-icon>
</button>